---
import Social from "./Social.astro"

---


<!-- <footer>

 
  <Social platform="twitter" username="astrodotbuild" />
  <Social platform="github" username="withastro" />
  <Social platform="youtube" username="astrodotbuild" />
</footer>-->
<footer class="flex flex-col space-y-10 justify-center m-10">

  <nav class="flex justify-center flex-wrap gap-6 text-gray-500 font-medium">
      <a class="hover:text-gray-900" href="#">Home</a>
      <a class="hover:text-gray-900" href="#">About</a>
      <a class="hover:text-gray-900" href="#">Watch</a>
      <a class="hover:text-gray-900" href="#">Gallery</a>
      <a class="hover:text-gray-900" href="#">Blog</a>
      
  </nav>
</div>
<p class="text-center text-gray-700 font-medium">&copy; 2025 Company Ltd. All rights reservered.</p>
</footer>